#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #009f86;
  color: #e8fdff;
  padding: 0em 2em 0em 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  float: left;
  font-size: 40px;
  line-height: 2;
}

.compose {
    float: right;
    border: 1px solid black;
    font-size: 25px;
    margin-top: 10px;
    border-radius: 5px;
    height: 60px;
    background-color: #eae7e7;
}

.compose:hover {
background-color: #ffffff;
}

.fa-pencil-square {
  opacity: 0.5;
}

.compose:hover, .compose:hover .fa-pencil-square {
  opacity: 1;
}